{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  },
 "extends":["eslint:recommended"],
 "rules": {
    
    "prefer-const":"warn","camelcase":"warn","quotes":[1,"single",{ "avoidEscape":true,
    "allowTemplateLiterals":true}],"spaced-comment":"warn","semi":"error","space-infix-ops":"warn"
 }
}